/** White theme */
/* site main color: #F2F3F5 */
/* contrast color: #FFFFFF */

/* Items */
/* dark contrast color: #0492EB - acent color going to be the same (checkbox, buttons, underline, etc) */
/* hover color for buttons: #04B0FF */
/* soft contrast color: #D9EEFB */
/* text color: #212121 */
/* soft text color: #363E4D - for pure white surfaces */

/** Dark theme */
/* site main color: #131313 */
/* contrast color: #2B2B2B */

/* Items */
/* dark contranst color: #3367D6 */
/* soft contrast color: #4285F4 */
/* text color: #EAEAEA on dark side*/
/* text color: #FFFFFF on contrast color side*/

/** Both */
/* Good news color: #7CE07F - kind of green */

/* warnings */
/* background color: #FF2954 */
/* text color: #FFF4F6 */

/** fonts */
/* lato for title */
/* Roboto for paragraphs, buttons and everything else */

/* .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
} */
/* .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
} */
/* .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
} */

:root{
    --main-font: "Lato", sans-serif; /* for titles */
    --secondary-font: "Roboto", sans-serif; /* for subtitles or paragraphs */
    --hard-font: 400; /* main sentence */
    --soft-font: 300; /* secondary sentences */
    --font-style: normal;

    /* white theme */
    --white-theme-main-color: #F2F3F5;
    --white-theme-main-contrast-color: #FFFFFF;
    --white-theme-dark-contrast-color: #0492EB;
    --white-theme-soft-contrast-color: #D9EEFB;
    --white-theme-hover-contrast-color: #04B0FF;
    --white-theme-text-color: #212121;
    --white-theme-soft-text-color: #363E4D; /* for pure white surfaces */

    /* dark theme */
    --dark-theme-main-color: #131313;
    --dark-theme-main-contrast-color: #2B2B2B;
    --dark-theme-dark-contrast-color: #3367D6;
    --dark-theme-soft-contrast-color: #4285F4;
    --dark-theme-text-color: #EAEAEA; /* on dark side */
    --dark-theme-text-contrast-color: #FFFFFF; /* on contrast color side */

    /* both */
    --successfully-execute: #7CE07F;
    --warning-bg: #FF2954;
    --warning-font-color: #FFF4F6;
}

/* header styles */
body{
    font-family: var(--main-font);
    background-color: var(--white-theme-main-color);
    margin: 0;
    display: flex;
    scroll-behavior: smooth;
}

.header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 260px;
    min-width: 250px;
    /* width: 100%; */
    max-width: 280px;
    background-color: #333;
    user-select: none;
    color: var(--white-theme-text-color);
    background-color: var(--white-theme-main-contrast-color);
    border-radius: 0 13px 13px 0;
}

.header__title{
    text-align: center;
}

.nav__list{
    list-style: none;
    padding: 20px;   
}

.nav__item{
    word-spacing: 25px;
    padding: 24px 0;
    font-size: 18px;
    transform: translateX(-50px);
    transition: transform 350ms, word-spacing 350ms, color 350ms;
}

.nav__item:hover{
    transform: translateX(-10px);
    word-spacing: 15px;
    color: var(--white-theme-hover-contrast-color);
    cursor: pointer;
}

.nav__link{
    text-decoration: none;
    color: inherit;
}

.header__info{
    font-size: 18px;
    order: 3;
}

.main{
    padding: 10px 30px;
    flex-basis: 100%;
    background-color: var(--white-theme-main-color);
}

/* configuration site styles */
.section{
    background-color: var(--white-theme-main-contrast-color);
    padding: 20px 30px;
    margin-bottom: 12px;
}

.section__title{
    margin: 0;
}

.form{
    padding-top: 35px;
    max-width: 850px;
    min-width: 640px;
    font-family: var(--secondary-font);
}

.form__field{
    display: flex;
    max-width: 530px;
    height: 28px;
    justify-content: space-between;
    margin-bottom: 12px;
}

.form__input{
    box-sizing: border-box;
    width: 240px;
    height: 28px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #bec3c5;
    color: var(--white-theme-text-color);
    font-weight: var(--hard-font);
    font-size: 14px;
}

.form__input:focus{
    outline: none;
    border: 1px solid var(--white-theme-hover-contrast-color);
}
.form__input:hover{
    border: 1px solid var(--white-theme-hover-contrast-color);
}

.form__input--checkbox{
    outline: none;      
    border: none;
    width: 15px;
    height: 15px;
    font-size: 14px;
}

.form__field--checkbox{
    max-width: 376px;
}
/* .form__input--checkbox:checked{
    background-color: var(--white-theme-dark-contrast-color);
} */

.form__checkbox{
    user-select: none;
    display: flex;
    align-items: center;
    gap: 0 4px;
    justify-content: flex-start;
}

/* Tabla desing */
.table{
    border-collapse: collapse;
    width: 760px;
    margin-top: 35px;
    /* caret-color: transparent; */
    /* border: 0 solid #868e93; */
}

.table__row{
    border-bottom: 1px solid #868e93;
}

/* .table__row:last-child{
    border-bottom: none;
} */

.table__th, .table__td{
    text-align: center;
    padding: 18px 15px;
    height: 35px;
}

.table__row:nth-child(even) {
    background-color: #F8F9FB;
}
.table__row:nth-child(odd) {
    background-color: #FFFFFF;
}

.table__row:hover{
    background-color: #EBF6FD;
}

.table__row--head:hover{
    background-color: inherit;
}

.table__td--icons{
    word-spacing: 13px;
    user-select: none;
    font-size: 18px;
}

.table__edit, .table__trash, .table__copy{
    cursor: pointer;
    transition: color 250ms;
}

.table__copy:hover{
    color: var(--white-theme-soft-text-color);
}

.table__edit:hover{
    color: var(--white-theme-dark-contrast-color);
}

.table__trash:hover{
    color: var(--warning-bg);
}

/* .status{
    display: inline-block;
    box-sizing: border-box;
    background-color: #e5e5e5;
    padding: 4px 8px;
    height: auto;
    border-radius: 5px;
    margin: 20px 0 0 24px;
} */

.status[data-status="true"] {
    /* color: var(--successfully-execute); */
    color: #26bc33;
}

.status[data-status="false"] {
    color: var(--warning-bg);
}

.section__button{
    margin: 40px 0 12px;
    /* height: 30px; */
    line-height: 30px;
    padding: 0 20px 0 16px;
    font-size: 15px;
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--white-theme-dark-contrast-color);
    border: 1px solid var(--white-theme-dark-contrast-color);
    /* transition: background-color 150ms; */
    cursor: pointer;
    background-color: transparent;
}

.section__button:hover{
    background-color: #04b0ff15;
}
/* .section__icon{
    
} */